.stylowanie{
    background-color: cadetblue;
    height: 80px;
    width:200px;
    border:1px solid white;
    text-align: center;

}
.headcolor{
    background-color: #B2DFDB;
    height: 80px;
    width: 500px;
    margin:auto;
}
.active{
    color:black;
    line-height: 80px;
}
.container-fluid{
    margin-top:200px;
}