<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style/blog.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <title>Personnal Site</title>
    <style>
 
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <a class="navbar-brand text-uppercase" href="#">This is a personal page of <%= userName %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>  
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <div class="navbar-nav ml-auto">
              <a class="nav-link" href="#">Messagerie</a>
              <a class="nav-link" href="#">Logout</a>
            </div>
        </div>
        <form class="d-flex" onsubmit="return false">
            <input class="form-control me-2" type="text" id = "item" name="Search" placeholder="Search User" aria-label="Search">
            <button data-ripple type="button" onclick="onSearch(this);">Search</button>
        </form>
    </nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
           <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">I'm <%= userName %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">My adress mail : <%= userEmail %></h6>
                    <p class="card-text">Something about you, your interested, gender</p>
                </div>
            </div>
        </div>
    
    <div class="d-flex flex-column  mb-3 col-sm-12 col-md-6 col-lg-6">
        <div class="p-2">
            <div class="form-group">
                <label for="colFormLabel" class="col-sm-2 col-form-label">What's new?</label>
                <input type="text" name= "item" textarea= "Express yourself" id= "post"/>
                <button class="btn btn-dark" name= "submit" type="button" onclick="sendAndCreatePost()">Send</button>
            </div>
        </div>
        <div class="p-2" id='posts'>
        <!-- <ul>
            <% for (var i=0; i<posts.length; i++){ %>
                <textarea><%= posts[i].posts %></textarea>
                 <button type = "button" id= "score">0</button><button id="buttonLike">Like</button>
                     <% } %>
         </ul> -->
             
        </div>
        
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3"> 
        <div id="your-chat">
            <div id="chat-window">
                <div id="output"></div>
            </div>
            <div class="bg-info">
                <input id="handle" type="text" placeholder="Name"/>
            </div>
            <div>
                <input  id="message" type="text" placeholder="message"/>
            </div>
                <button id="send">Send</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>


    function CreatePosts(posts){
        const postsDiv = document.getElementById('posts')
        for(let i = 0; i < posts.posts.length; ++i){
            const div = document.createElement("div")//wczesniej wpisany blog
            div.className = "myClassName"//dodajemy mu klase by go ostylowac//
            let content = document.createTextNode(posts.posts[i].item); //{item: 'monika', id: ObejctID('ewew')}  != 'Monika'
            div.appendChild(content)//dodajmy element stworzony
            const comment = document.createElement("input");//tworzymy box na komentarz//
            comment.className= "myComment";
            comment.setAttribute("name", "item"); // ici ajouter attribute name avec value item
            comment.value="write your comment";
            div.appendChild(comment);
            const sendComment = document.createElement("button");
            sendComment.className = "commentButton";
            const textButton = document.createTextNode("send");
            sendComment.appendChild(textButton);
            div.appendChild(sendComment);
            const deleteButton = document.createElement("button");
            deleteButton.className = "deleteButton";
            const delButton = document.createTextNode("delete");
            deleteButton.appendChild(delButton);
            div.appendChild(deleteButton);
            postsDiv.appendChild(div);
            console.log(comment)
            const postId = posts.posts[i].id
            sendComment.addEventListener('click', ()=>{sendAndCreateComment(postId)});  // gdzie jest funkcja sendAndCreateComment?
            deleteButton.addEventListener('click', ()=>{deletingComment(postId)}); 
        }
    }

function CreateComments(commentsResponse){
        console.log('CreateComments', commentsResponse)
        const parentDiv = document.getElementsByClassName('myComment')[0]
        function createSingleComment(comment){
            const div = document.createElement("div")
            let content = document.createTextNode(comment.item);
            div.appendChild(content)
            parentDiv.append(div)
            console.log('created div')
        }
        //comments = [{ item: "HELLO", id: 'ewew'}]
        let comments = commentsResponse.comments
        for (let i = 0; i< comments.comment; ++i){
            const comment = comments[i]
            createSingleComment(comment)
        }
}   

function deletingComment(){
        console.log('delete')
    }
///********************************************getting post **********************************************************//////
async function getPosts(){ //getting from api
    const options = {
        method: 'GET',
    };
    const res = await fetch('http://localhost:5000/api/blog', options)
    const json = await res.json()
    return json
}
    const posts = getPosts().then(posts =>{
        console.log(posts)
        CreatePosts(posts)
})
//////**********************************Getting comments***************************************************************/////
async function getComment(){
    const options = {
        method: 'GET',
    };
    const res = await fetch('http://localhost:5000/api/blog/comments/:id', options)
    const json = await res.json()
    return json
}
    const comments = getComment().then(comments =>{
        console.log(comments)
        CreateComments(comments)
})
///*************************************Getting comments *************************************************************////
 async function sendAndCreateComment(){  // async it's like saying make new promis//
     console.log('sendAndCreateComment')
     const res = await sendComment()
     let comment = document.getElementsByClassName('myComment')[0].value;  // pobiera tekst komenatarza //
     console.log("to jest z await send and create comment" + comment)
     console.log("to jest z await send and create res " + res)
     CreateComments({comments: [{item:comment}]})
     //document.getElementsByClassName('myComment')[0].value = ''
 }

////*********************************************************************************************************************/////
async function sendAndCreatePost(){ // tutaj funkcja wywolywana na clicka po stworzenia postu ////
    console.log('sendandCreatePost')
    let post = document.getElementById('post').value
    const res = await sendPost()     
    CreatePosts({posts: [{item:post}]})
    // delete input post
    document.getElementById('post').value = ''
}
    

   
function onSearch(button){
window.location.href = "/search/" + button.previousElementSibling.value; //redirectin user to search page

}

</script>
<script src="/client/client.js"></script>

</body>
</html>